doctype html
html
  head
    meta(charset='utf-8')
    meta(name='keywords', content='有车约,im,youcheyue,地理位置,交友,iphone,android,app')
    meta(name='description', content='有车约是有车约（北京）信息技术有限公司于2016年1月推出的一款基于地理位置的车友社交生活服务的智能终端产品。通过“有车约”，您可以认识身边的车友和汽车行业从业者；加入车友群组；参加车友活动；查看和回复车友动态；免费发送文字消息、语音、照片、精准的地理位置以及汽车行业相关动态信息和身边的人更好的交流；使用我们的产品还能给车友提供汽车资讯、汽车车展、汽车团购、汽车保养、二手车交易、违章查询等汽车服务。使命：建立专注、便捷、完善的车友社交生活服务平台价值观：服务车友，造就自己；帮助车友，成长自己远景：让现在和将来的车友都喜欢用我们的')
    title 有车约官网-加入我们
    link(rel='stylesheet', type='text/css', href='/youcheyue/css/css.css')
    link(rel='stylesheet', href='/youcheyue/css/font-awesome.css')
    link(rel='stylesheet', href='/youcheyue/css/animate.css')
    script(type='text/javascript', src='/youcheyue/js/jquery.js')
    script(type='text/javascript', src='/youcheyue/js/jquery.slimscroll.min.js')
    script(src='http://cdn.staticfile.org/jquery-easing/1.3/jquery.easing.min.js')
    script(type='text/javascript', src='/youcheyue/js/omee.js')
  body
    #header.ml-nav
      .inner
        .logo
          img(src='/youcheyue/images/logo.png')
        ul#menu
          li
            a(href='/index') 首页
          li
            a(href='/version') 版本动态
          li.active
            a(href='/join') 加入我们
          li
            a(href='/about') 关于有车约
    .banner1.pr
      div
        img(src='/youcheyue/images/barl.png')
    .main
      h2 加入我们
      .intro
        p 期待自己有一份很棒的工作/专业的团队/尊重/互爱/加入我们吧
        p
          | 那么，现在就把简历发送到 
          a(href='mailto:youcheyue@gmail.com') youcheyue@gmail.com
      // Tab切换
      .slideTxtBox
        .hd
          ul
            li Android开发工程师
            li Ios开发工程师
            li 运营总监
            li 内容编辑
        .bd
          .tappe
            .riqi
              p 发布日期: 2016-01-05
              p 工作地点：广州
            h4 工作职责：
            p 负责《有车约》IM产品需求开发；
            p 负责具体产品需求或模块进行开发时间和风险评估；
            p 负责相应研发过程中的产品需求。
            h4 职位要求：
            p 精通java，熟悉面向对象的程序设计方法；
            p 基础扎实，精通常用数据结构与算法；
            p 有Android手机平台2-3年以上的应用程序开发经验；
            p 强烈的责任心和团队精神，善于与合作，吃苦耐劳。
            p 对创业充满激情，能承受工作压力，有较强的自我驱动能力;
            p 学习能力强，对技术有钻研精神，具有良好的自学能力和独立解决问题的能力；
          .tappe
            .riqi
              p 发布日期: 2016-01-05
              p 工作地点：广州
            h4 工作职责：
            p 负责《有车约》IM产品需求开发；
            p 负责具体产品需求或模块进行开发时间和风险评估；
            p 负责相应研发过程中的产品需求。
            h4 职位要求：
            p 精通object-c，熟悉面向对象的程序设计方法；
            p 基础扎实，精通常用数据结构与算法；
            p 有Android手机平台2-3年以上的应用程序开发经验；
            p 强烈的责任心和团队精神，善于与合作，吃苦耐劳。
            p 对创业充满激情，能承受工作压力，有较强的自我驱动能力;
            p 学习能力强，对技术有钻研精神，具有良好的自学能力和独立解决问题的能力；
          .tappe
            .riqi
              p 发布日期: 2016-01-05
              p 工作地点：广州
            h4 工作职责：
            p  根据市场需要，参与产品发展规划、产品设计、实施路线图；
            p 策划互联网产品营销方案并组织、开展，确保达成产品的市场目标；
            p 负责渠道管理和维护，各类线上资源合作的规划、开拓、执行；
            p  负责产品的运营管理工作，研究运营数据和用户反馈；
            p  挖掘用户需求，调整运营策略，制订产品优化方案；
            p 找到运营问题并给出有创意和创新性的解决方案，以保证运营绩效的持续提升，并定期出具
            p 运营分析报告及改进意见；
            p 负责跨部门协调和沟通，推动开发、测试等人员紧密合作达成产品目标；
            p 运营管理培训、团队管理及人才梯队建设；
            h4 职位要求：
            p 3年以上互联网企业市场策略、品牌、运营、用户市场推广等管理经验；其中至少有2年以上的移动互联网产品管理经验，1年以上的管理经验；
            p  在web网站/手机APP的网络推广方面有成功经验，参与推广的网站/APP实现了商业化运营；
            p 熟悉互联网的运作模式及产品特征，对互联网产品发展趋势有敏锐的洞察力和创新意识；
            p 熟悉网站及移动互联网产品运营管理方式和流程；
            p 具备产品、运营、市场等相关管理知识；
            p 具有良好的沟通能力，及很强的组织协调能力；
            p 具有丰富的团队管理经验；
          .tappe
            .riqi
              p 发布日期: 2016-01-05
              p 工作地点：广州
            h4 工作职责：
            p  主要负责公司各产品文字资料的整理，以及网站原创内容的更新；
            p  维护网站运营，完成网站、微博微信上信息的每日内容更新工作；
            p  负责公司各品牌推广软文，文章内容收集，撰写并发布；
            p  每日主动了解行业相关动态，收集、整理信息，并对相关频道内容更新完善；
            p  负责品牌宣传、产品、案例等文章的撰写工作。
            h4 职位要求：
            p 新闻、中文、广告相关专业者优先考虑；
            p 有内容采编，原创写作，合理编排内容的能力；
            p 有一定的博客、微博、微信推广经验优先。
      script(type='text/javascript').
        jQuery(".slideTxtBox").slide({targetCell:".tappe",trigger:"click"});
      // Tab切换
    #footer
      .inner
        .contact
          .marker
            i.fa.fa-map-marker
            .xiangqq
              p 地址：
              p 广州市海珠区琶洲大道东2-8号广州国际采购中心611-612
          .envelope
            i.fa.fa-envelope-square
            .xiangqq
              p 邮箱：
              p youcheyue@gmail.com
          .phone
            i.fa.fa-phone
            .xiangqq
              p 电话：
              p 020-61091480
        .copyright
          | 京ICP备15067566号-1 Copyright 
          i.fa.fa-copyright
          |  2015-2016 youcheyue.com All Rights Reserved
    script(type='text/javascript', src='/youcheyue/js/wow.min.js')
    script.
      new WOW().init();
